[aws]
  [aws.sqs]
  template = "../../template/sqs.md"

    [aws.sqs.filter]
    in = "fs-aws-*"
    out = [".*[0-9]{8}", ".*test.*", ".*_[0-9a-zA-Z]{16}"]

    [aws.sqs.supplement."fs-aws-describe-prj-develop-queue01"]
    usecase = "開発環境用キュー１"
    environment = "develop"

    [aws.sqs.supplement."fs-aws-describe-prj-queue01"]
    usecase = "本番環境用キュー１"
    environment = "production"

    [aws.sqs.supplement."fs-aws-describe-prj-staging-queue01"]
    usecase = "ステージング環境用キュー１"
    environment = "staging"

    [aws.sqs.supplement."fs-aws-describe-prj-queue02"]
    usecase = "本番環境用キュー２"
    environment = "production"

  [aws.ec2]
  template = "../../template/ec2.md"

  [aws.ec2.filter]
  in = ""
  out = []

  [aws.ec2.supplement."i-014100b189d61989c"]
  usecase = "開発環境用インスタンス"
  environment = "develop"
